<div class="navbar">
  <div class="logo">
    <img class="image" src="./../../assets/images/logo.png" alt="">
    <img class="text-logo" src="./../../assets/images/logo_text.png" alt="">
  </div>

  <div class="navbar-line-items">
    <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page" class="option"> Home </a>
    <a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page" class="option"> About </a>
    <a routerLink="/pricing" routerLinkActive="active" ariaCurrentWhenActive="page" class="option"> Pricing </a>
    <a class="option"> Videos </a>
    <a class="option"> Testimonials </a>
    <a class="option"> Contact </a>
  </div>

  <div class="actions">
    <div class="login button">
      Login
    </div>
    <div class="register button">
      <div>Register</div>
      <img src="./../../assets/images/next_icon.png" alt="">
    </div>
  </div>
</div>