<div class="home">
  <div class="upper-section">
    <div class="text-base">
      <div class="heading">
        The Future <br> of Estimating
      </div>

      <div class="description">
        Your time is money, and we respect that. Register your company, install our mobile app, or log in on our web
        portal.
      </div>

      <div class="action">
        <div class="get-started-button">
          <div>Get Started</div>
          <img src="./../../assets/images/next_icon.png" alt="">
        </div>

        <div class="estimation-text">
          <img src="./../../assets/images/check.png" alt="">
          <div class="text">Your first estimate is free</div>
        </div>
      </div>
    </div>

    <div class="home-image">
      <img class="image" src="./../../../assets/images/home_image.png" alt="">
    </div>
  </div>

  <div class="lower-section">
    <div class="text-section">
      <div class="heading">
        Estimates that save you time and communication with the carrier
      </div>

      <div class="services">
        <div class="option-block">
          <div class="image">
            <img src="../../../assets/images/list.png" alt="">
          </div>
          <div class="details">The most accurate and documented estimates in the industry</div>
        </div>

        <div class="option-block">
          <div class="image">
            <img src="../../../assets/images/share.png" alt="">
          </div>
          <div class="details">Representation of the full scope of the project</div>
        </div>

        <div class="option-block">
          <div class="image">
            <img src="../../../assets/images/stopwatch.png" alt="">
          </div>
          <div class="details">Time-saving estimates and communication with the carrier</div>
        </div>

        <div class="option-block">
          <div class="image">
            <img src="../../../assets/images/tasks.png" alt="">
          </div>
          <div class="details">Proper project valuation</div>
        </div>

        <div class="option-block">
          <div class="image">
            <img src="../../../assets/images/settings.png" alt="">
          </div>
          <div class="details">Automated process management with our free app</div>
        </div>

      </div>
    </div>
    <div class="qr-code-section">
      <div class="heading">
        Download <span class="highlight">FREE</span> <br> Test Project Mobile App
      </div>

      <div class="qr-container">
        <div class="store-block">
          <div class="store-link">
            <img src="./../../../assets/images/playstore.png" alt="">
          </div>
          <div class="qr">
            <img src="./../../../assets/images/qrcode.png" alt="">
          </div>
        </div>

        <div class="store-block">
          <div class="store-link">
            <img src="./../../../assets/images/appstore.png" alt="">
          </div>
          <div class="qr">
            <img src="./../../../assets/images/qrcode.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>