/* You can add global styles to this file, and also import other style files */
/* Adding global styles to remove the default margin and padding */
*{
  margin: 0;
  padding: 0;
  font-family: 'Avenir-medium', 'arial', sans-serif;
  font-weight: 600;
}

@font-face {
  font-family: Avenir-bold;
  src: url('./assets/font/AvenirNextforINTUIT-Bold.otf') format("opentype");
}

@font-face {
  font-family: Avenir-bold-italic;
  src: url('./assets/font/AvenirNextforINTUIT-BoldIt.otf') format("opentype");
}

@font-face {
  font-family: Avenir-demi;
  src: url('./assets/font/AvenirNextforINTUIT-Demi.otf') format("opentype");
}

@font-face {
  font-family: Avenir-demi-italic;
  src: url('./assets/font/AvenirNextforINTUIT-DemiIt.otf') format("opentype");
}

@font-face {
  font-family: Avenir-heavy;
  src: url('./assets/font/AvenirNextforINTUIT-Heavy.otf') format("opentype");
}

@font-face {
  font-family: Avenir-heavy-italic;
  src: url('./assets/font/AvenirNextforINTUIT-HeavyIt.otf') format("opentype");
}

@font-face {
  font-family: Avenir-italic;
  src: url('./assets/font/AvenirNextforINTUIT-Italic.otf') format("opentype");
}

@font-face {
  font-family: Avenir-medium;
  src: url('./assets/font/AvenirNextforINTUIT-Medium.otf') format("opentype");
}

@font-face {
  font-family: Avenir-medium-italic;
  src: url('./assets/font/AvenirNextforINTUIT-MediumIt.otf') format("opentype");
}

@font-face {
  font-family: Avenir-regular;
  src: url('./assets/font/AvenirNextforINTUIT-Regular.otf') format("opentype");
}

@font-face {
  font-family: Avenir-thin;
  src: url('./assets/font/AvenirNextforINTUIT-Thin.otf') format("opentype");
}

@font-face {
  font-family: Avenir-thin-italic;
  src: url('./assets/font/AvenirNextforINTUIT-ThinIt.otf') format("opentype");
}

